<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>successfulAssignmentMail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .content {
            margin: 20px;
        }
        .signature {
            margin-top: 40px;
            font-weight: bold;
        }
        .footer {
            margin-top: 20px;
            font-size: 0.9em;
            color: grey;
        }
    </style>
</head>
<body>
<div class="content">
    <p>Hallo <span th:text="${ausbilder}">Ausbilder Name</span>,</p>

    <p>wir bedanken uns ausdrücklich, dass du dich dazu bereit erklärt hast, im nächsten Praktikumsabschnitt Nachwuchskräfte zu betreuen und uns dabei unterstützt, ein qualitativ hochwertiges Praktikum im IT-Referat zu gewährleisten.</p>
    <p>
        Anbei erhältst du die vorläufige Information zur zugewiesenen Nachwuchskraft:<br>
        <br>
        <b>Name:</b> <span th:text="${nachwuchskraftName}">Nachwuchskraft Name</span><br>
        <b>Ausbildungs-/Studienrichtung:</b> <span th:text="${studiengangOderAusbildungsrichtung}">Ausbildungs Richtung/Studiengang</span><br>
        <b>Jahrgang:</b> <span th:text="${jahrgang}">Jahrgang</span><br>
    </p>
    <p><b>Weitere Details zur Nachwuchskraft und zur Zuweisung werden dir mit dem Zuweisungsschreiben in den kommenden Wochen zugesandt.</b></p>

    <p><u>Kontaktaufnahme NWK:</u></p>
    <p>Sobald die Nachwuchskräfte über ihre neuen Praktikumsplätze informiert sind und du mit der Nachwuchskraft Kontakt aufnehmen kannst, werden wir dich gesondert darüber informieren. Wir bitten dich daher, von einer vorzeitigen Kontaktaufnahme sowie von der Erstellung des Personalneuzugangstickets vorerst abzusehen.</p>

    <p>Wir danken dir für dein Verständnis, dass wir ggf. nicht alle individuellen Wünsche, insbesondere hinsichtlich der bevorzugten Ausbildungs- oder Studienrichtung, berücksichtigen konnten. Solltest du diesbezüglich Gesprächsbedarf haben, bitten wir dich, frühzeitig mit uns in Kontakt zu treten. Wir stehen dir jederzeit gerne zur Verfügung, um deine Anliegen in einem persönlichen Gespräch zu erörtern.</p>

    <p>Weitere Informationen rund um die Ausbildung sind auch im Arbeitsraum <a href="https://wilma.muenchen.de/workspaces/ausbildung-im-it-referat/apps/content/ueberblick">Ausbildung im IT-Referat</a> oder im <a href="https://psp.muenchen.de/web/guest/entwicklung-und-karriere/ausbildung-und-studium">Personalservice-Portal</a> zu finden.</p>


    <p>Bei Fragen stehen wir jederzeit gerne zur Verfügung.</p>

    <div class="signature">
        Viele Grüße<br>
        Örtliche Ausbildungsleitungen im IT-Referat<br>
        <span th:text="${ausbildungsleitungNamen}"></span>
    </div>
    <div class="footer">
        #GernperDU
    </div>

</div>
</body>
</html>
