<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>successfulAssignmentMail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .content {
            margin: 20px;
        }
        .signature {
            margin-top: 40px;
            font-weight: bold;
        }
        .footer {
            margin-top: 20px;
            font-size: 0.9em;
            color: grey;
        }
    </style>
</head>
<body>
<div class="content">
    <p>Hallo <span th:text="${ausbilder}">Ausbilder Name</span>,</p>

    <p>wir bedanken uns ausdrücklich, dass du dich dazu bereit erklärt hast, im nächsten Praktikumsabschnitt Nachwuchskräfte zu betreuen und uns dabei unterstützt, ein qualitativ hochwertiges Praktikum im IT-Referat zu gewährleisten.</p>
    <p>
        Anbei erhältst du die vorläufige Information zur zugewiesenen Nachwuchskraft:<br>
        <br>
        <b>Name:</b> <span th:text="${nachwuchskraftName}">Nachwuchskraft Name</span><br>
        <b>Ausbildungs-/Studienrichtung:</b> <span th:text="${studiengangOderAusbildungsrichtung}">Ausbildungs Richtung/Studiengang</span><br>
        <b>Jahrgang:</b> <span th:text="${jahrgang}">Jahrgang</span><br>
    </p>
    <p><b>Weitere Details zur Nachwuchskraft und der Zuweisung erhältst du mit der Zusendung des Zuweisungsschreibens im Laufe der nächsten Wochen.</b></p>

    <p><u>Kontaktaufnahme NWK:</u></p>
    <p>Sobald die Nachwuchskräfte über ihre neuen Praktikumsplätze informiert wurden und du mit der Nachwuchskraft Kontakt aufnehmen kannst, werden wir dich gesondert in Kenntnis setzen.</p>
    <p>Wir bitten daher, von einer vorherigen Kontaktaufnahme abzusehen.</p>

    <p>Wir bitten um Verständnis, dass wir nicht jeden Wunsch (z.B. gewünschte Ausbildungs- oder Studienrichtung) berücksichtigen konnten. Sollte hierzu Gesprächsbedarf bestehen, bitten wir euch frühzeitig mit uns Kontakt aufzunehmen.</p>

    <p>Weitere Informationen rund um die Ausbildung sind auch im Arbeitsraum <a href="https://wilma.muenchen.de/workspaces/ausbildung-im-it-referat/apps/content/ueberblick">Ausbildung im IT-Referat</a> oder im Personalservice-Portal zu finden.</p>


    <p>Bei Fragen stehen wir jederzeit gerne zur Verfügung.</p>


    <div class="signature">
        Viele Grüße<br>
        Örtliche Ausbildungsleitungen im IT-Referat
    </div>
    <div class="footer">
        #GernperDU
    </div>

</div>
</body>
</html>
