<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>successfulAssignmentMail</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .content {
            margin: 20px;
        }
        .signature {
            margin-top: 40px;
            font-weight: bold;
        }
        .footer {
            margin-top: 20px;
            font-size: 0.9em;
            color: grey;
        }
    </style>
</head>
<body>
<div class="content">
    <p>Hallo <span th:text="${ausbilder}">Ausbilder Name</span>,</p>
    <p>herzlichen Dank dafür, dass du und dein Team Nachwuchskräfte ausbildet.</p>
    <p>Anbei erhältst du die Dienstantrittsanzeige von <span th:text="${nachwuchskraftName}">Nachwuchskraft Name</span>.</p>
    <p>Der Dienstantritt findet am <span th:text="${startDatum}">StartDatum</span> um 8.00 Uhr am Agnes-Pockels-Bogen 21 (Konferenzraum im Erdgeschoss) statt. Wir bitten dich oder deine Kolleg*innen, die NWK ab 08:45 Uhr dort abzuholen.</p>
    <p>Sollte die NWK Urlaub haben, werden wir oder die NWK euch vorher erneut informieren.</p>
    <p>Die NWK wird voraussichtlich bis zum <span th:text="${endDatum}">EndDatum</span> dir zugewiesen.</p>
    <p>Da Homeoffice nun zu unserem Arbeitsalltag gehört, ist uns bewusst, dass die NWK auch während ihrer Ausbildung von zu Hause aus arbeiten und betreut werden.</p>
    <p>Die Nachwuchskräfte sind alle mit Token ausgestattet - es ist sinnvoll, einen täglichen Austausch mit der NWK im Homeoffice zu vereinbaren.</p>

    <p>Wir bitten dich bzw. deine Führungskraft, folgendes Ticket schnellstmöglich zu bearbeiten, sodass die NWK an ihrem ersten Tag die notwendigen Zugriffe erhält.</p>
    <p>Für jeden Praktikumsplatz ist verbindlich ein örtlicher Ausbildungsplan zu erstellen. Diese Vorlage findest du in coSys unter dem Suchbegriff "Ausbildungsplan". Eine ausführliche Anleitung findest du hier.</p>
    <p>Alle Informationen rund um die Ausbildung sind auch im Arbeitsraum "Ausbildung im IT-Referat" zu finden sein.</p>
    <p>Tipps und Tricks zur Betreuung von NWK im Homeoffice findest du in WILMA.</p>
    <p>Solltest du Fragen, Anregungen und/oder Probleme haben, bitten wir dich einfach mit uns per Mail, Telefon oder in Webex Kontakt aufzunehmen.</p>

    <div class="signature">
        Viele Grüße<br>
        Örtliche Ausbildungsleitung, Team GL12
    </div>
    <div class="footer">
        #GernperDU
    </div>
</div>
</body>
</html>
